<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link   rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Login to WebCred</title>
</head>

<body>
    <br><br><br><br>
<div class="container" style = "align-items: center; text-align: center; align-self: center; align-content: center; vertical-align: middle;">
<div class="card" class="mx-auto" class="p-3">
    <div class="card-body" style = "padding-top:10%; padding-bottom: 10%; align-items: center; text-align: center; align-self: center; align-content: center; vertical-align: middle;">
        <h4 class="card-title" style = "padding-bottom: 10%; align-items: center; text-align: center; align-self: center; align-content: center; vertical-align: middle;">Login to WebCred</h4>
            <div class="row" style = "align-items: center; text-align: center; align-self: center; align-content: center; vertical-align: middle;">
                <div class="col-md-3">
                    <a class="btn btn-outline-dark" href="showgoogle" role="button" style="text-transform:none">
                    <img width="20px" style="margin-bottom:3px; margin-right:5px" alt="Google sign-in" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
                    Login with Google
                    </a>
                </div>
            </div>
            <br>
            <div class="row" style = "align-items: center; text-align: center; align-self: center; align-content: center; vertical-align: middle;">
                <div class="col-md-3" style = "align-items: center; text-align: center; align-self: center; align-content: center; vertical-align: middle;">
                    <a class="btn btn-outline-dark" href="showgithub" role="button" style="text-transform:none">
                    <img width="20px" style="margin-bottom:3px; margin-right:5px" alt="GitHub sign-in" src="https://upload.wikimedia.org/wikipedia/commons/9/91/Octicons-mark-github.svg" />
                    Login with GitHub
                    </a>
                </div>
            </div>
            <br>
            <div class="row" style = "align-items: center; text-align: center; align-self: center; align-content: center; vertical-align: middle;">
                <div class="col-md-3">
                    <a class="btn btn-outline-dark" href="showtwitter" role="button" style="text-transform:none">
                    <img width="20px" style="margin-bottom:3px; margin-right:5px" alt="Twitter sign-in" src="https://upload.wikimedia.org/wikipedia/commons/1/19/Twitter_icon.svg" />
                    Login with Twitter
                    </a>
                </div>
            </div>
        </div>
    </div>
        
</div>
</div>
</body>
</html>